%p#notice= notice
%table
  %tr
    %th 
      %b Name:
    %th
      %b Address:
    %th
      %b Email:
    %th
      %b Pay_type
    %th

  -@order.each do |order|
    %tr
      %td
        = order.name
      %td
         
        = order.address
      %td
         
        = order.email
      %td
         
        = order.pay_type
      %td  
        = link_to 'Edit', edit_order_path(order)

