%p#notice= notice
.all_index  
  %table
    %tr
      %th 
        %b Name:
      %th
        %b Address:
      %th
        %b Email:
      %th
        %b Pay_type
      %th
        %b Items
      %th  

    -@order.each do |order|
      %tr
        %td
          = order.name
        %td
           
          = order.address
        %td
           
          = order.email
        %td
           
          = order.pay_type
        %td
          -order.line_items.each do |item|
            %li
              =item.product.title+" x " + item.quantity.to_s
        %td  
          = link_to 'Edit', edit_order_path(order)

